.card-img-fixed {
height: 300px;
}
.icon {
    height: 25px;
}
#welcome-card {
    background-image: url('../images/bh.avif');
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#welcome-card h1{
    font-size: 100px;

}
.glass-bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    padding: 20px;
    color: #fff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    width: fit-content; 
    margin: auto;
}
.full-screen-height {
    /* 93 instead of 100 because of the height of the navbar */
    min-height: 93svh;
}
.profile-photo {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}